@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

a {
  color: black !important;
}

.brand-logo {
  font-family: "Grand Hotel", cursive;
  padding-left: 10px !important;
}

h2 {
  font-family: "Grand Hotel", cursive;
}

.mycard {
  margin-top: 30px;
}

.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.input-field input[type="text"]:focus {
  border-bottom: 1px solid rgb(4, 196, 255) !important;
  box-shadow: 0 1px 0 0 rgb(4, 196, 255) !important;
}

.input-field input[type="password"]:focus {
  border-bottom: 1px solid rgb(4, 196, 255) !important;
  box-shadow: 0 1px 0 0 rgb(4, 196, 255) !important;
}

.gallery {
  padding-top: 10px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(20, 6vw);
  grid-gap: 15px;
}

.item {
  /* padding: 10px;
  width: 30%; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-card {
  max-width: 460px;
  height: max-content;
  margin: 26px auto;
}

#toast-container {
  top: 60px !important;
  right: 20px !important;
  left: auto !important;
}

.card-content {
  overflow-wrap: break-word !important;
}

/* .img:hover {
  color: #424242;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 1;
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
} */
